@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Permanent";
    src: url('../src/public/styles/PermanentMarker-Regular.ttf');
  }
  @font-face {
    font-family: "Roboto";
    src: url('../src/public/styles/Roboto-Regular.ttf');
  }
}